@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>QUẢN LÝ DANH SÁCH QUẬN - HUYỆN</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <select id="txtIsDeleteOption" class="form-control">
                        <option value="false">Đang quản lý</option>
                        <option value="true">Đã xóa</option>
                    </select>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <table id="myTable" class="table table-striped table-responsive jambo_table bulk_action" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên quận - huyện</th>
                    <th>Mô tả</th>
                    <th>ID city</th>
                    <th>Thuộc thành phố</th>
                    <th>Đã xóa</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
        </table>
        <div class="row">
            <label class="label" id="lblStatus" style="display:none; float:left; width:auto; height:35px; font-size: 20px;">Đã thêm</label>
            <button type="button" id="btnAddNew" class="btn btn-primary" style="float:right">Thêm mới</button>
        </div>
    </div>
</div>

@*create popup*@
<div class="modal fade" id="MyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:rgba(52,73,94,.94); color:white">
                <a href="#" class="close" style="color:white; font-weight:bold" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle"></h4>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="SubmitForm">
                        <div class="form-group">
                            <label>Tên quận - huyện (<font color="red">&#42;</font>):</label>
                            <input type="text" class="form-control" id="txtName" autofocus name="" placeholder="Nhập tên quận - huyện" min="2" maxlength="30" required="required" />
                            <label id="lblValidateName" style="color:red; display:none"></label>
                        </div>
                        <div class="form-group">
                            <label>Mô tả:</label>
                            <input type="text" class="form-control" id="txtDescription" name="" placeholder="Nhập mô tả" />
                        </div>
                        <div class="form-horizontal">
                            <label>Chọn thành phố:</label>
                        </div>
                        <div class="input-group">
                            <select class="form-control" id="txtNameCity" name="">
                                @Html.Action("PartialListCity", "City")
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" id="btnAddNewCity" title="Thêm thành phố mới"><i class="fa fa-plus"></i></button>
                                <button class="btn btn-danger" type="button" id="btnCloseAddNewCity" style="display:none" title="Đóng"><i class="fa fa-close"></i></button>
                            </span>
                        </div>
                        <div class="form-group" id="divAddNewCity" style="display:none;  padding: 0 10px 10px 10px; border: 2px solid rgba(52,73,94,.94)">
                            <div class="row" style="background-color:rgba(52,73,94,.94); color:white; text-align:center; margin-bottom:10px">
                                <h5>THÊM THÀNH PHỐ - TỈNH THÀNH</h5>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Tên thành phố (<font color="red">&#42;</font>):</label>
                                    <input type="text" class="form-control" id="txtInsertNameCity" name="" placeholder="Nhập tên thành phố" required />
                                    <label id="lblValidateNameCity" style="color:red; display:none"></label>
                                </div>
                                <div class="col-sm-6">
                                    <label>Mô tả:</label>
                                    <input type="text" class="form-control" id="txtInsertDescriptionCity" name="" placeholder="Nhập mô tả" />
                                </div>
                            </div>
                            <div class="row" style="margin: 10px 0 10px 0">
                                <a href="#" class="btn btn-block btn-primary" id="btnAddCity">Lưu</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <a href="#" class="btn btn-block btn-primary" id="btnAdd">Lưu</a>
                            </div>
                            <div class="col-sm-6">
                                <a href="#" class="btn btn-block btn-info" data-dismiss="modal" id="btnCancel">Hủy</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
@*/create popup*@

@*Create A PopUp Modal For DeleteConfirmation*@
<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:rgba(52,73,94,.94); color:white">
                <a href="#" class="close" style="color:white; font-weight:bold" data-dismiss="modal">&times;</a>
                <h4>THÔNG BÁO</h4>
            </div>
            <div class="modal-body">
                <h4>Bạn có chắc muốn xóa "<label id="lblName"></label>" ?</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal">Hủy bỏ</a>
                <a href="#" class="btn btn-danger" id="btnConfirmDelete" data-dismiss="modal">Đồng ý</a>
            </div>
        </div>
    </div>
</div>
@*/Create A PopUp Modal For DeleteConfirmation*@
<script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function (e) {

        $("#MyModal").on('hidden.bs.modal', function () {
            $('#lblValidateName').css({ display: 'none' })
            $('#txtName').css({ 'border-color': '' });
            $('#txtName').val().trim();

            $('#btnCloseAddNewCity').css({ display: 'none' });
            $('#btnAddNewCity').css({ display: 'block' });

            $('#divAddNewCity').css({ display: 'none' });
            $('#txtName').prop('disabled', false);
            $('#txtDescription').prop('disabled', false);
            $('#txtNameCity').prop('disabled', false);
            $('#btnAdd').attr('disabled', false);
            $('#btnCancel').attr('disabled', false);

            $('#lblValidateNameCity').css({ display: 'none' })
            $('#txtInsertNameCity').css({ 'border': '' });
            $('#txtInsertNameCity').val('');
            $('#txtInsertDescriptionCity').val('');
        });

        $('#txtIsDeleteOption').change(function () {
            var key = $('#txtIsDeleteOption').val();
            table.column(5).search(key).draw();
            if (key == "false") {
                $('.btnDelete').css("display", "");
                $('.btnRestore').css("display", "none");
            } else {
                $('.btnDelete').css("display", "none");
                $('.btnRestore').css("display", "");
            }

        });

        function HasValue(val) {
            return val.replace(/\s+/, '').length;
        }

        let checkBeforeInsert_Update = false;
        //validate txtName
        $('#txtName').focusout(function () {
            var name = $('#txtName').val();
            var reg = /[^0-9]/;
            if (HasValue(name) == false) {
                $('#lblValidateName').css({ display: 'block' })
                $('#lblValidateName').html("Tên không được để trống.");
                $('#txtName').css({ 'border-color': 'red' });
                $('#txtName').focus();
                checkBeforeInsert_Update = false;
            } else {
                if (reg.test(name)) {
                    $('#lblValidateName').css({ display: 'none' })
                    $('#txtName').css({ 'border-color': '' });
                    $('#txtName').val().trim();
                    checkBeforeInsert_Update = true;
                } else {
                    $('#lblValidateName').css({ display: 'block' })
                    $('#lblValidateName').html("Tên quận - huyện không hợp lệ.");
                    $('#txtName').css({ 'border-color': 'red' });
                    $('#txtName').focus();
                    checkBeforeInsert_Update = false;
                }
            }
        });

        $('#btnAddNewCity').click(function () {

            $('#btnAddNewCity').css({ display: 'none' });
            $('#btnCloseAddNewCity').css({ display: 'block' });

            $('#divAddNewCity').css({ display: 'block' });
            $('#txtName').prop('disabled', true);
            $('#txtDescription').prop('disabled', true);
            $('#txtNameCity').prop('disabled', true);
            $('#btnAdd').attr('disabled', true);
            $('#btnCancel').attr('disabled', true);

            $('#txtInsertNameCity').focus();

        });

        $('#btnCloseAddNewCity').click(function () {

            $('#btnCloseAddNewCity').css({ display: 'none' });
            $('#btnAddNewCity').css({ display: 'block' });

            $('#divAddNewCity').css({ display: 'none' });
            $('#txtName').prop('disabled', false);
            $('#txtDescription').prop('disabled', false);
            $('#txtNameCity').prop('disabled', false);
            $('#btnAdd').attr('disabled', false);
            $('#btnCancel').attr('disabled', false);

            $('#lblValidateNameCity').css({ display: 'none' })
            $('#txtInsertNameCity').css({ 'border': '' });
            $('#txtInsertNameCity').val('');
            $('#txtInsertDescriptionCity').val('');
        });

        $('#btnAddCity').click(function () {

            var name = $('#txtInsertNameCity').val();
            var description = $('#txtInsertDescriptionCity').val();

            var city = new Object();
            city.Name = name;
            city.Description = description;
            city.IsDelete = false;

            var length = $('#txtNameCity option').filter(function () {
                return $(this).text() === name;
            }).length;

            if (length != 0 || name == "") {
                if (length != 0) {
                    $('#lblValidateNameCity').css({ display: 'block' })
                    $('#lblValidateNameCity').html("Tên thành phố - tỉnh thành đã tồn tại.");
                    $('#txtInsertNameCity').css({ 'border-color': 'red' });
                    $('#txtInsertNameCity').focus();
                }
                if (name == "") {
                    $('#lblValidateNameCity').css({ display: 'block' })
                    $('#lblValidateNameCity').html("Tên không được để trống.");
                    $('#txtInsertNameCity').css({ 'border-color': 'red' });
                    $('#txtInsertNameCity').focus();
                }
            } else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Insert", "City")',
                    data: JSON.stringify(city),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (rs) {
                        if (rs != 0) {
                            var option = '<option value="'+ rs +'">' + name + '</option>';
                            $('#txtNameCity').append(option);

                            $('#btnCloseAddNewCity').css({ display: 'none' });
                            $('#btnAddNewCity').css({ display: 'block' });

                            $('#divAddNewCity').css({ display: 'none' });
                            $('#txtName').prop('disabled', false);
                            $('#txtDescription').prop('disabled', false);
                            $('#txtNameCity').prop('disabled', false);
                            $('#txtIsDelete').prop('disabled', false);
                            $('#btnAdd').attr('disabled', false);
                            $('#btnCancel').attr('disabled', false);

                        } else {
                            alert("Lỗi");
                        }
                    }
                });
            }
        });
        //======================start datatables===========================
        let table = $('#myTable').DataTable({
            language: {
                lengthMenu: "Hiện _MENU_ kết quả trên 1 trang",
                info: "Hiện trang _PAGE_ trên _PAGES_ trang",
                infoEmpty: "Không tìm thấy kết quả nào",
                infoFiltered: "(Trên _MAX_ kết quả)",
                search: "_INPUT_",
                searchPlaceholder: "Tìm kiếm...",
                paginate: {
                    'previous': '<span class="">&laquo;</span>',
                    'next': '<span class="">&raquo;</span>'
                }
            },
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "ajax": {
                "url": '@Url.Action("LoadData", "District")',
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                    { className: 'ID', data: "ID", autoWidth: true, visible: false },
                    { className: 'Name', data: "Name", autoWidth: true },
                    { className: 'Description', data: "Description", autoWidth: true },
                    { className: 'CityID', data: "CityID", autoWidth: true, visible: false },
                    { className: 'CityName', data: "NameCity", autoWidth: true },
                    { className: 'IsDelete', data: "IsDelete", autoWidth: true, visible: false },
                    {
                        "targets": -1,
                        "data": null,
                        "defaultContent": '<a href="#" class="btn btn-info btn-xs btnEdit" title="Chỉnh sửa"><i class="fa fa-pencil"></i></a>' +
                                        '<a href="#" class="btn btn-danger btn-xs btnDelete" title="Xóa"><i class="fa fa-trash-o"></i></a>' +
                                        '<a href="#" class="btn btn-warning btn-xs btnRestore" title="Phục hồi" style="display:none"><i class="fa fa-refresh"></i></a>'
                    }
            ],
            "columnDefs": [
                       { "display": 'block', "targets": [0, 3] }
            ]
        });
        table.column(5).search("false").draw();
        //======================end datatables===========================
        let checkClickAddNew = false;
        //event click Thêm mới
        $("#btnAddNew").click(function () {

            checkClickAddNew = true;
            $("#form")[0].reset();
            $("#MyModal").modal();
            $('#ModalTitle').html("THÊM QUẬN - HUYỆN");

        });

        //event click button 'Sua' in list city
        let idUpdate;
        let isDeleteUpdate;
        $('#myTable tbody').on('click', '.btnEdit', function () {
            checkClickAddNew = false;
            $("#form")[0].reset();
            $("#MyModal").modal();
            $('#ModalTitle').html("SỬA QUẬN - HUYỆN");

            var row = $(this).closest("tr");
            idUpdate = table.row($(this).parents('tr')).data()["ID"];
            isDeleteUpdate = table.row($(this).parents('tr')).data()["IsDelete"];
            var name = row.find(".Name").html();
            var description = row.find(".Description").html();
            var cityID = table.row($(this).parents('tr')).data()["CityID"];

            $('#txtName').val(name);
            $('#txtDescription').val(description);
            $('#txtNameCity').val(cityID);
        });

        //event click button Thêm in popup
        $('#btnAdd').click(function () {
            if ($('#txtName').val() == "") {
                checkBeforeInsert_Update = false;
                $('#lblValidateName').css({ display: 'block' })
                $('#lblValidateName').html("Tên không được để trống.");
                $('#txtName').css({ 'border-color': 'red' });
                $('#txtName').focus();
            } else {
                var reg = /[^0-9]/;
                if (reg.test($('#txtName').val())) {
                    $('#lblValidateName').css({ display: 'none' })
                    $('#txtName').css({ 'border-color': '' });
                    $('#txtName').val().trim();
                    checkBeforeInsert_Update = true;
                } else {
                    $('#lblValidateName').css({ display: 'block' })
                    $('#lblValidateName').html("Tên quận - huyện không hợp lệ.");
                    $('#txtName').css({ 'border-color': 'red' });
                    $('#txtName').focus();
                    checkBeforeInsert_Update = false;
                }
            }
            //check before insert or update
            if (checkBeforeInsert_Update == true) {
                //checkClickAddNew == true => insert
                if (checkClickAddNew == true) {
                    var name = $('#txtName').val();
                    var description = $('#txtDescription').val();
                    var cityID = $('#txtNameCity').val();

                    var district = new Object();
                    district.Name = name;
                    district.Description = description;
                    district.CityID = cityID;
                    district.IsDelete = false;

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Insert", "District")',
                        data: JSON.stringify(district),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (rs) {
                            if (rs == 1) {
                                table.ajax.reload(null, false);
                                $("#MyModal").modal("hide");
                                EventSuccess('Đã thêm');
                            } else {
                                if (rs == -1) {
                                    $('#lblValidateName').css({ display: 'block' })
                                    $('#lblValidateName').html("Tên quận - huyện đã tồn tại.");
                                    $('#txtName').css({ 'border-color': 'red' });
                                    $('#txtName').focus();
                                    EventError('Tên đã tồn tại!');
                                } else {
                                    $("#MyModal").modal("hide");
                                    EventError('Lỗi!');
                                }
                            }
                        }
                    });
                } else{//checkClickAddNew == false => update
                    var name = $('#txtName').val();
                    var description = $('#txtDescription').val();
                    var cityID = $('#txtNameCity').val();
                    var nameCity = $('#txtNameCity :selected').text();

                    var district = new Object();
                    district.ID = idUpdate;
                    district.Name = name;
                    district.Description = description;
                    district.CityID = cityID;
                    district.IsDelete = isDeleteUpdate;

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Update", "District")',
                        data: JSON.stringify(district),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (rs) {
                            if (rs == 1) {
                                table.ajax.reload(null, false);
                                $("#MyModal").modal("hide");
                                EventSuccess('Đã chỉnh sửa');
                            } else {
                                if (rs == -1) {
                                    $('#lblValidateName').css({ display: 'block' })
                                    $('#lblValidateName').html("Tên quận - huyện đã tồn tại.");
                                    $('#txtName').css({ 'border-color': 'red' });
                                    $('#txtName').focus();
                                    EventError('Tên đã tồn tại!');
                                } else {
                                    $("#MyModal").modal("hide");
                                    EventError('Lỗi!');
                                }
                            }
                        }
                    });
                }
            }
        });

        //event click delete
        let idDelete;
        $('#myTable tbody').on('click', '.btnDelete', function () {
            $("#DeleteConfirmation").modal("show");
            var row = $(this).closest("tr");
            idDelete = table.row($(this).parents('tr')).data()["ID"];
            var name = row.find(".Name").html();
            $('#lblName').html(name);

        });

        $('#btnConfirmDelete').click(function () {

            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete", "District")',
                data: '{id: ' + idDelete + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (rs) {
                    if (rs != 0) {
                        table.ajax.reload(null, false);
                        EventSuccess('Đã xóa');
                    } else {
                        EventError('Lỗi!');
                    }
                }

            });
        });

        //event click delete
        $('#myTable tbody').on('click', '.btnRestore', function () {
            var id = table.row($(this).parents('tr')).data()["ID"];
            $.ajax({
                type: "POST",
                url: '@Url.Action("Restore", "District")',
                data: '{id: ' + id + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (rs) {
                    if (rs != 0) {
                        table.ajax.reload(null, false);
                        table.column(5).search("false").draw();
                        $('#txtIsDeleteOption').val("false");
                        EventSuccess('Đã phục hồi');
                    } else {
                        EventError('Lỗi!');
                    }
                }
            });
        });
    });

    function EventSuccess(text) {
        $('#lblStatus').css({ display: 'block' });
        $('#lblStatus').html(text);
        $('#lblStatus').addClass('label-success')
        $('#lblStatus').removeClass('label-danger')
    }

    function EventError(text) {
        $('#lblStatus').css({ display: 'block' });
        $('#lblStatus').html(text);
        $('#lblStatus').addClass('label-danger')
        $('#lblStatus').removeClass('label-success')
    }
</script>