@model IEnumerable<CoffeeShop.Model.ModelEntity.MaterialLog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var mateList = ViewBag.MateList as IEnumerable<CoffeeShop.Model.ModelEntity.Material>;

    // test pagination
    int currentPage = 1;
    var totalItems = (int)ViewBag.TotalItems;
    int rowPerPage = 10; //(int)ViewBag.RowPerPage;
    var totalPages = totalItems * 1.0 / rowPerPage;
    if (totalPages > (int)totalPages)
    {
        totalPages = (int)totalPages + 1;
    }
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Bản ghi nhập - xuất nguyên vật liệu</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li style="float:right">
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="x_content" style="display: block;">
            <div class="row">
                <div class="col-sm-4">
                    <label>Hiện</label>
                    <select id="slRowPerPage" name="slRowPerPage">
                        <option value="5" @(rowPerPage == 5 ? "selected" : "")>5</option>
                        <option value="10" @(rowPerPage == 10 ? "selected" : "")>10</option>
                        <option value="20" @(rowPerPage == 20 ? "selected" : "")>20</option>
                        <option value="50" @(rowPerPage == 50 ? "selected" : "")>50</option>
                        <option value="100" @(rowPerPage == 100 ? "selected" : "")>100</option>
                    </select>
                    <label>dòng mỗi trang</label>
                </div>
                <div class="col-sm-6">
                    <form id="frmGetByStatus">
                        <label class="radio-inline">
                            <input type="radio" name="optradio" value="0" checked="checked">Đang quản lý
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio" value="1">Đã xóa
                        </label>
                    </form>
                </div>

            </div>
            <div class="panel panel-default panel-table" style="margin-top: 20px">
                <div class="panel-heading clearfix">
                    <div class="col-sm-6">
                        <a href="javascript:;" id="btnAddNew" data-toggle="modal" data-target="#infoModal" title="Thêm mới" class="panel-title"><i class="glyphicon glyphicon-plus"></i></a>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-inline">
                            <button id="btnAdvanceSearch" class="btn pull-right"><i class="fa fa-cogs"></i></button>
                            <button id="btnBasicSearch" class="btn pull-right" style="margin-left:5px;"><i class="fa fa-search"></i></button>
                            <input type="text" class="form-control pull-right" id="txtKeyword" placeholder="Từ khóa...">
                        </div>
                    </div>

                    <div class="col-sm-12 hide" id="advanceSearchBox">
                        <div style="border-bottom: 1px solid lightgray;">
                            <h4>Tìm kiếm nâng cao</h4>
                        </div>
                        <div style="padding-top:5px;">
                            <form id="frmAdvanceSearch" class="">
                                <div class="form-group col-sm-4 col-xs-12">
                                    <label>
                                        Từ ngày
                                    </label>
                                    <input class="form-control" type="date" name="FromDate" value=" " />
                                </div>
                                <div class="form-group col-sm-4 col-xs-12">
                                    <label>
                                        Đến ngày
                                    </label>
                                    <input class="form-control" type="date" name="ToDate" value=" " />
                                </div>
                                <div class="form-group col-sm-4 col-xs-12">
                                    <label>
                                        ID
                                    </label>
                                    <input class="form-control" type="number" name="ID" value=" " />
                                </div>
                                <div class="form-group col-sm-4 col-xs-12">
                                    <label>
                                        Nguyên vật liệu
                                    </label>
                                    <select class="form-control" name="MaterialID">
                                        <option value="" selected disabled hidden>--Chọn--</option>
                                        @foreach (var item in mateList)
                                        {
                                            <option value="@(item.ID)">@(item.Name)</option>
                                        }
                                    </select>
                                </div>
                                @*<div class="form-inline">
                                        <label>
                                            Nhân viên
                                        </label>
                                        <input class="form-control" type="text" name="MaterialName" value=" " />
                                    </div>*@
                                <div class="form-group col-sm-4 col-xs-12">
                                    <label>
                                        Số lượng tồn
                                    </label>
                                    <input class="form-control" type="number" name="Inventory" value=" " />
                                </div>
                                <div class="form-group col-sm-4 col-xs-12">
                                    <label>
                                        Đơn giá
                                    </label>
                                    <input class="form-control" type="number" name="UnitPrice" value=" " />
                                </div>
                                <div class="form-group col-sm-4 col-xs-12">
                                    <label>
                                        Loại log
                                    </label>
                                    <select class="form-control" name="Type">
                                        <option value="-1" selected>Tất cả</option>
                                        <option value="0">Thêm</option>
                                        <option value="1">Sửa</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12">
                                    <label>
                                        Ghi chú
                                    </label>
                                    <input class="form-control" type="text" name="Description" value=" " />
                                </div>
                                <div class="form-group col-sm-4 col-xs-12">
                                    <label>
                                        Trạng thái
                                    </label>
                                    <select class="form-control" name="IsDelete">
                                        <option value="-1" selected>Tất cả</option>
                                        <option value="0">Đang quản lý</option>
                                        <option value="1">Đã xóa</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>.</label>
                                    <button class="form-control" type="submit" style="background:#ddd;">Tìm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="panel-body clearfix">
                    <table class="table table-striped table-responsive jambo_table bulk_action" id="listTable">
                        <thead>
                            <tr class="headings">
                                <th>
                                    <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" id="check-all" class="flat" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                </th>
                                <th class="column-title">
                                    ID
                                </th>
                                <th class="column-title">
                                    Ngày ghi
                                </th>
                                <th class="column-title">
                                    Tên nguyên vật liệu
                                </th>
                                <th class="column-title">
                                    Số lượng tồn
                                </th>
                                <th class="column-title">
                                    Đơn giá
                                </th>
                                <th class="column-title">
                                    Tên nhân viên
                                </th>
                                <th class="column-title">
                                    Loại log ghi
                                </th>
                                <th class="column-title">
                                    Chú thích
                                </th>
                                <th class="column-title no-link last">
                                    <span class="nobr">Action</span>
                                </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                        </thead>

                        <tbody id="logContent">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Material.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Inventory)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UnitPrice)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.Username)
                                    </td>
                                    <td>
                                        @(item.Type.GetValueOrDefault(false) == true ? "Sửa" : "Thêm")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-info btn-xs editItem" data-id="@(item.ID)" title="Chỉnh sửa"><i class="fa fa-pencil"></i></a>
                                        <a href="#" class="btn btn-danger btn-xs deleteItem" data-id="@(item.ID)" title="Xóa"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col col-xs-8 pull-right" id="logPaging">
                            <ul class="pagination hidden-xs pull-right">
                                @if (currentPage > 3 && currentPage < totalPages)
                                {
                                    <li><a href="javascript:;" data-page="1">Đầu tiên</a></li>
                                }

                                @for (int i = (currentPage - 2 > 0 ? currentPage - 2 : 1); i <= currentPage + 2 && i <= totalPages; i++)
                                {
                                    <li class=" @(i == currentPage ? "active" : "") "><a href="javascript:;" data-page="@(i)">@(i)</a></li>
                                }

                                @if (currentPage < totalPages - 2)
                                {
                                    <li><a href="javascript:;" data-page="@(totalPages)">Cuối cùng</a></li>
                                }
                            </ul>
                            <ul class="pagination visible-xs pull-right">
                                <li><a href="#">«</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*create popup*@
<div id="infoModal" class="modal fade" role="dialog" style="margin:auto;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông tin bản ghi</h4>
            </div>
            <div class="modal-body">
                <form action="" id="frmMaterialLogInfo">
                    <div class="clearfix">
                        <div class="form-group col-md-6 col-xs-12">
                            <label>Nguyên vật liệu</label>
                            <select class="form-control" name="MaterialID" id="slCategory">
                                <option value="" selected disabled hidden>--Chọn ngyên vật liệu--</option>
                                @foreach (var item in mateList)
                                {
                                    <option value="@(item.ID)">@(item.Name)</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="form-group col-md-6 col-xs-12">
                            <label>Ngày nhập liệu</label>
                            <input type="date" name="CreatedDate" id="dtDate" class="form-control">
                        </div>
                        <div class="form-group col-md-6 col-xs-12">
                            <label>Nguyên vật liệu</label>
                            <select class="form-control" name="Type" id="slType">
                                <option value="" selected disabled hidden>--Chọn loại log--</option>
                                <option value="false">Thêm</option>
                                <option value="true">Sửa</option>
                            </select>
                        </div>

                    </div>
                    <div class="clearfix">
                        <div class="form-group col-md-6 col-xs-12">
                            <label>Số lượng tồn</label>
                            <input type="number" name="Inventory" id="txtInventory" class="form-control">
                        </div>
                        <div class="form-group col-md-6 col-xs-12 pull-left">
                            <label>Đơn giá</label>
                            <input type="number" name="UnitPrice" id="txtUnitPrice" class="form-control">
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Chú thích</label>
                            <div>
                                <textarea name="Description" id="txt" rows="3" class="form-control">đang cập nhật...</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div id="errMessageHolder" class="alert alert-danger" style="display:none;text-align:left;">
                        </div>
                        <input type="hidden" id="formInfoType" />
                        <input type="hidden" id="txtID" />
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </div>
                    <input type="reset" class="hidden" />
                </form>
            </div>
        </div>
    </div>
</div>
@*/create popup*@

@*Create A PopUp Modal For DeleteConfirmation*@

<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>THÔNG BÁO</h4>
            </div>
            <div class="modal-body">
                <h4>Bạn có chắc muốn xóa ""?</h4>
                <input type="hidden" class="id" />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-dismiss="modal" id="r">Không</button>
                <button type="button" class="btn btn-default" id="btnDeleteItem">Có</button>
            </div>
        </div>
    </div>
</div>
@*/Create A PopUp Modal For DeleteConfirmation*@

@*Create A PopUp Modal For Message*@

<div class="modal fade" id="messageBox">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>THÔNG BÁO</h4>
            </div>
            <div class="modal-body">
                teset
            </div>
            @*<div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancle</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>*@
        </div>
    </div>
</div>
@*/Create A PopUp Modal For Message*@

<script>
    $(document).ready(function () {
        //event click Thêm mới
        $("#btnAddNew").click(function () {
            $("#form")[0].reset();
            $("#MyModal").modal();
        });

        //event click delete
        $('.btn-danger').click(function () {
            $("#DeleteConfirmation").modal("show");
        });
    });
</script>

