@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>QUẢN LÝ DANH SÁCH THÀNH PHỐ - TỈNH THÀNH</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <select id="txtIsDeleteOption" class="form-control">
                        <option value="false">Đang quản lý</option>
                        <option value="true">Đã xóa</option>
                    </select>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <table id="myTable" class="table table-striped table-responsive jambo_table bulk_action" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên thành phố</th>
                    <th>Mô tả</th>
                    <th>Đã xóa</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
        </table>
        <div class="row">
            <label class="label" id="lblStatus" style="display:none; float:left; width:auto; height:35px; font-size: 20px;">Đã thêm</label>
            <button type="button" id="btnAddNew" class="btn btn-primary" style="float:right">Thêm mới</button>
        </div>
    </div>
</div>

@*create popup*@
<div class="modal fade" id="MyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:rgba(52,73,94,.94); color:white">
                <a href="#" class="close" style="color:white; font-weight:bold" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle"></h4>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="SubmitForm">
                        <div class="form-group">
                            <label>Tên thành phố - tỉnh thành (<font color="red">&#42;</font>):</label>
                            <input type="text" class="form-control" id="txtName" autofocus name="" placeholder="Nhập tên thành phố / tỉnh thành" min="2" maxlength="30" required="required" />
                            <label id="lblValidateName" style="color:red; display:none"></label>
                        </div>
                        <div class="form-group">
                            <label>Mô tả:</label>
                            <input type="text" class="form-control" id="txtDescription" name="" placeholder="Nhập mô tả" />
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <a href="#" class="btn btn-block btn-primary" id="btnAdd">Lưu</a>
                            </div>
                            <div class="col-sm-6">
                                <a href="#" class="btn btn-block btn-info" data-dismiss="modal" id="btnCancel">Hủy</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
@*/create popup*@

@*Create A PopUp Modal For DeleteConfirmation*@

<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:rgba(52,73,94,.94); color:white">
                <a href="#" class="close" style="color:white; font-weight:bold" data-dismiss="modal">&times;</a>
                <h4>THÔNG BÁO</h4>
            </div>
            <div class="modal-body">
                <h4>Bạn có chắc muốn xóa "<label id="lblName"></label>" ?</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal">Hủy bỏ</a>
                <a href="#" class="btn btn-danger" id="btnConfirmDelete" data-dismiss="modal">Đồng ý</a>
            </div>
        </div>
    </div>
</div>
@*/Create A PopUp Modal For DeleteConfirmation*@
<script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#MyModal").on('hidden.bs.modal', function () {
            $('#lblValidateName').css({ display: 'none' })
            $('#txtName').css({ 'border-color': '' });
            $('#txtName').val().trim();

            $('#btnCloseAddNewCity').css({ display: 'none' });
            $('#btnAddNewCity').css({ display: 'block' });

            $('#divAddNewCity').css({ display: 'none' });
            $('#txtName').prop('disabled', false);
            $('#txtDescription').prop('disabled', false);
            $('#txtNameCity').prop('disabled', false);
            $('#txtIsDelete').prop('disabled', false);
            $('#btnAdd').attr('disabled', false);
            $('#btnCancel').attr('disabled', false);

            $('#lblValidateNameCity').css({ display: 'none' })
            $('#txtInsertNameCity').css({ 'border': '' });
            $('#txtInsertNameCity').val('');
            $('#txtInsertDescriptionCity').val('');
        });

        $('#txtIsDeleteOption').change(function () {
            var key = $('#txtIsDeleteOption').val();
            table.column(3).search(key).draw();
            if (key == "false") {
                $('.btnDelete').css("display", "");
                $('.btnRestore').css("display", "none");
            } else {
                $('.btnDelete').css("display", "none");
                $('.btnRestore').css("display", "");
            }

        });

        function HasValue(val) {
            return val.replace(/\s+/, '').length;
        }

        let checkBeforeInsert_Update = false;
        //validate txtName
        $('#txtName').focusout(function () {
            var name = $('#txtName').val();
            var reg = /[^0-9]/;
            if (HasValue(name) == false) {
                $('#lblValidateName').css({ display: 'block' })
                $('#lblValidateName').html("Tên không được để trống.");
                $('#txtName').css({ 'border-color': 'red' });
                $('#txtName').focus();
                checkBeforeInsert_Update = false;
            } else {
                if (reg.test(name)) {
                    $('#lblValidateName').css({ display: 'none' })
                    $('#txtName').css({ 'border-color': '' });
                    $('#txtName').val().trim();
                    checkBeforeInsert_Update = true;
                } else {
                    $('#lblValidateName').css({ display: 'block' })
                    $('#lblValidateName').html("Tên thành phố - tỉnh thành không hợp lệ.");
                    $('#txtName').css({ 'border-color': 'red' });
                    $('#txtName').focus();
                    checkBeforeInsert_Update = false;
                }
            }
        });

        //======================start datatables===========================
        let table = $('#myTable').DataTable({
            language: {
                lengthMenu: "Hiện _MENU_ kết quả trên 1 trang",
                info: "Hiện trang _PAGE_ trên _PAGES_ trang",
                infoEmpty: "Không tìm thấy kết quả nào",
                infoFiltered: "(Trên _MAX_ kết quả)",
                search: "_INPUT_",
                searchPlaceholder: "Tìm kiếm...",
                paginate: {
                    'previous': '<span class="">&laquo;</span>',
                    'next': '<span class="">&raquo;</span>'
                }
            },
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "ajax": {
                "url": '@Url.Action("LoadData", "City")',
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                    { className: 'ID', data: "ID", autoWidth: true, visible: false },
                    { className: 'Name', data: "Name", autoWidth: true },
                    { className: 'Description', data: "Description", autoWidth: true },
                    { className: 'IsDelete', data: "IsDelete", autoWidth: true, visible: false },
                    {
                        "targets": -1,
                        "data": null,
                        "defaultContent": '<a href="#" class="btn btn-info btn-xs btnEdit" title="Chỉnh sửa"><i class="fa fa-pencil"></i></a>' +
                                        '<a href="#" class="btn btn-danger btn-xs btnDelete" title="Xóa"><i class="fa fa-trash-o"></i></a>' +
                                        '<a href="#" class="btn btn-warning btn-xs btnRestore" title="Phục hồi" style="display:none"><i class="fa fa-refresh"></i></a>'
                    }
            ],
            "columnDefs": [
                       { "display": 'block', "targets": [0, 3] }
            ]
        });
        table.column(3).search("false").draw();
        //======================end datatables===========================
        let checkClickAddNew = false;
        //event click Thêm mới
        $("#btnAddNew").click(function () {

            checkClickAddNew = true;
            $("#form")[0].reset();
            $("#MyModal").modal();
            $('#ModalTitle').html("THÊM THÀNH PHỐ - TỈNH THÀNH");
        });

        //event click button 'Sua' in list city
        let idUpdate;
        let isDeleteUpdate;
        $('#myTable tbody').on('click', '.btnEdit', function () {
            checkClickAddNew = false;
            $("#form")[0].reset();
            $("#MyModal").modal();
            $('#ModalTitle').html("SỬA THÀNH PHỐ - TỈNH THÀNH");

            var row = $(this).closest("tr");
            idUpdate = table.row($(this).parents('tr')).data()["ID"];
            isDeleteUpdate = table.row($(this).parents('tr')).data()["IsDelete"];
            var name = row.find(".Name").html();
            var description = row.find(".Description").html();;

            $('#txtName').val(name);
            $('#txtDescription').val(description);;
        });

        //event click button Thêm in popup
        $('#btnAdd').click(function () {
            if ($('#txtName').val() == "") {
                checkBeforeInsert_Update = false;
                $('#lblValidateName').css({ display: 'block' })
                $('#lblValidateName').html("Tên không được để trống.");
                $('#txtName').css({ 'border-color': 'red' });
                $('#txtName').focus();
            } else {
                var reg = /[^0-9]/;
                if (reg.test($('#txtName').val())) {
                    $('#lblValidateName').css({ display: 'none' })
                    $('#txtName').css({ 'border-color': '' });
                    $('#txtName').val().trim();
                    checkBeforeInsert_Update = true;
                } else {
                    $('#lblValidateName').css({ display: 'block' })
                    $('#lblValidateName').html("Tên thành phố - tỉnh thành không hợp lệ.");
                    $('#txtName').css({ 'border-color': 'red' });
                    $('#txtName').focus();
                    checkBeforeInsert_Update = false;
                }
            }
            if (checkBeforeInsert_Update == true) {
                //checkClickAddNew == true => insert
                if (checkClickAddNew == true) {
                    var name = $('#txtName').val();
                    var description = $('#txtDescription').val();

                    var city = new Object();
                    city.Name = name;
                    city.Description = description;
                    city.IsDelete = false;

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Insert", "City")',
                        data: JSON.stringify(city),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (rs) {
                            if (rs != 0 && rs != -1) {
                                table.ajax.reload(null, false);
                                $("#MyModal").modal("hide");
                                EventSuccess('Đã thêm');
                            } else {
                                if (rs == -1) {
                                    $('#lblValidateName').css({ display: 'block' })
                                    $('#lblValidateName').html("Tên thành phố - tỉnh thành đã tồn tại.");
                                    $('#txtName').css({ 'border-color': 'red' });
                                    $('#txtName').focus();
                                    EventError('Tên đã tồn tại!');
                                } else {
                                    $("#MyModal").modal("hide");
                                    EventError('Lỗi!');
                                }
                            }
                        }
                    });

                }//checkClickAddNew == false => update
                else {
                    var name = $('#txtName').val();
                    var description = $('#txtDescription').val();

                    var city = new Object();
                    city.ID = idUpdate;
                    city.Name = name;
                    city.Description = description;
                    city.IsDelete = isDeleteUpdate;

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Update", "City")',
                        data: JSON.stringify(city),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (rs) {
                            if (rs == 1) {
                                table.ajax.reload(null, false);
                                $("#MyModal").modal("hide");
                                EventSuccess('Đã chỉnh sửa');
                            } else {
                                if (rs == -1) {
                                    $('#lblValidateName').css({ display: 'block' })
                                    $('#lblValidateName').html("Tên thành phố - tỉnh thành đã tồn tại.");
                                    $('#txtName').css({ 'border-color': 'red' });
                                    $('#txtName').focus();
                                    EventError('Tên đã tồn tại!');
                                } else {
                                    $("#MyModal").modal("hide");
                                    EventError('Lỗi!');
                                }
                            }
                        }
                    });
                }
            }
        });

        //event click delete
        let idDelete;
        $('#myTable tbody').on('click', '.btnDelete', function () {
            $("#DeleteConfirmation").modal("show");
            var row = $(this).closest("tr");
            idDelete = table.row($(this).parents('tr')).data()["ID"];
            var name = row.find(".Name").html();
            $('#lblName').html(name);
        });

        $('#btnConfirmDelete').click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete", "City")',
                data: '{id: ' + idDelete + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (rs) {
                    if (rs != 0) {
                        table.ajax.reload(null, false);
                        EventSuccess('Đã xóa');
                    } else {
                        EventError('Lỗi!');
                    }
                }

            });
        });

        //event click delete
        $('#myTable tbody').on('click', '.btnRestore', function () {
            var id = table.row($(this).parents('tr')).data()["ID"];
            $.ajax({
                type: "POST",
                url: '@Url.Action("Restore", "City")',
                data: '{id: ' + id + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (rs) {
                    if (rs != 0) {
                        table.ajax.reload(null, false);
                        table.column(3).search("false").draw();
                        $('#txtIsDeleteOption').val("false");
                        EventSuccess('Đã phục hồi');
                    } else {
                        EventError('Lỗi!');
                    }
                }
            });
        });
    });

    function EventSuccess(text) {
        $('#lblStatus').css({ display: 'block' });
        $('#lblStatus').html(text);
        $('#lblStatus').addClass('label-success')
        $('#lblStatus').removeClass('label-danger')
    }

    function EventError(text) {
        $('#lblStatus').css({ display: 'block' });
        $('#lblStatus').html(text);
        $('#lblStatus').addClass('label-danger')
        $('#lblStatus').removeClass('label-success')
    }
</script>